html,
body,
.content {
    height: 100%;
}

body {
    background-color: rgb(63, 81, 181);
}

body {
    background: url("../img/Winter background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent-box {
    background-color: rgba(63, 81, 181, 0.85);
    max-width: unset !important;
    min-width: 450px;
}

@media (max-width:768px) {
    .transparent-box {
        min-width: unset;
    }
}

.footer {
    flex-shrink: 0;
    text-shadow: 0 0 3px #000, 0 0 9px #000, 0 0 5px #000, 0 0 6px #000;
}